<%- include('navbar') %>
    <div class="main-container">
        <h2 class="main-heading">TRENDY STYLES</h2>
        <div class="main-grid">
            <!-- //item1 -->
            <div class="main-items">
                <div class="main-image-container">
                    <img src="./item-pic/model1.png" alt="" width="100%" class="main-image">
                </div>
                <div class="main-description">
                    <p class="main-title" style="font-weight: 500;">Navy Blue T-shirt</p>
                    <p class="main-pricing" style="font-family: 'Roboto', sans-serif;">$34.34</p>
                    <div class="main-rating">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                    </div>
                    <div class="main-button">
                        <p>Add to Cart</p>
                    </div>
                </div>
            </div>
            <!-- //item2 -->
            <div class="main-items">
                <div class="main-image-container">
                    <img src="./item-pic/model2.png" alt="" width="100%" class="main-image">
                </div>
                <div class="main-description">
                    <p class="main-title" style="font-weight: 500;">Navy Blue T-shirt</p>
                    <p class="main-pricing" style="font-family: 'Roboto', sans-serif;">$34.34</p>
                    <div class="main-rating">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                    </div>
                    <div class="main-button">
                        <p>Add to Cart</p>
                    </div>
                </div>
            </div>
            <!-- //item3 -->
            <div class="main-items">
                <div class="main-image-container">
                    <img src="./item-pic/model3.png" alt="" width="100%" class="main-image">
                </div>
                <div class="main-description">
                    <p class="main-title" style="font-weight: 500;">Navy Blue T-shirt</p>
                    <p class="main-pricing" style="font-family: 'Roboto', sans-serif;">$34.34</p>
                    <div class="main-rating">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                    </div>
                    <div class="main-button">
                        <p>Add to Cart</p>
                    </div>
                </div>
            </div>
            <!-- //item4 -->
            <div class="main-items">
                <div class="main-image-container">
                    <img src="./item-pic/model4.png" alt="" width="100%" class="main-image">
                </div>
                <div class="main-description">
                    <p class="main-title" style="font-weight: 500;">Navy Blue T-shirt</p>
                    <p class="main-pricing" style="font-family: 'Roboto', sans-serif;">$34.34</p>
                    <div class="main-rating">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                    </div>
                    <div class="main-button">
                        <p>Add to Cart</p>
                    </div>
                </div>
            </div>
            <!-- //item5 -->
            <div class="main-items">
                <div class="main-image-container">
                    <img src="./item-pic/model5.png" alt="" width="100%" class="main-image">
                </div>
                <div class="main-description">
                    <p class="main-title" style="font-weight: 500;">Navy Blue T-shirt</p>
                    <p class="main-pricing" style="font-family: 'Roboto', sans-serif;">$34.34</p>
                    <div class="main-rating">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                    </div>
                    <div class="main-button">
                        <p>Add to Cart</p>
                    </div>
                </div>
            </div>
            <!-- //item6 -->
            <div class="main-items">
                <div class="main-image-container">
                    <img src="./item-pic/model6.png" alt="" width="100%" class="main-image">
                </div>
                <div class="main-description">
                    <p class="main-title" style="font-weight: 500;">Navy Blue T-shirt</p>
                    <p class="main-pricing" style="font-family: 'Roboto', sans-serif;">$34.34</p>
                    <div class="main-rating">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                    </div>
                    <div class="main-button">
                        <p>Add to Cart</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <%- include('footer') %>