<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ms+Madi&family=Raleway:wght@500;600&family=Roboto&display=swap"
        rel="stylesheet">
    <script defer src="/script.js"></script>
</head>

<body>
    <div class="navbar">

        <p class="logo">www.trendSetters.in</p>
        <div class="navitems-container">
            <a class="navitems" href="/">
                <i class="bi bi-house-fill"></i>
                <p>HOME</p>
            </a>
            <a class="navitems" href="/cart">
                <i class="bi bi-cart-fill"></i>
                <p>CART</p>
            </a>
            <a class="navitems">
                <i class="bi bi-heart-fill" style="font-size: 1rem;"></i>
                <p>FAVOURITE</p>
            </a>
        </div>

    </div>